*{
	box-sizing: border-box;
	font-family: trebuchet ms,Arial,helvetica;
	
}
body{

	background-color:#DACACA;
}

/*registtration heading*/
h2{
	text-align: center;
}


/*collreach logo */
img{
	position: relative;
	width: 10%;
	float:left;
	
}

/* Registration heading*/
#heading{

	margin: 10px;
	border: 1px solid #1C31B9;
	border-left: 10px solid #1C31B9;
	padding:10px;	
	text-shadow: 0 0 3px #1DADCA;
}

/*Main Form */
#form{
	margin:0px;
	border: 1px solid black;
	border-left: 10px solid #1C31B9;
	background-color: #BCF7F5;
}


/* red asteric for mandatory filed */
.required::after{
	content:"*";
	color:red;
}

/* make submit button green when hover over it*/
.btn-primary:hover{
	background-color:#77E161 ;
}

/*All the labes of form (eg Name email...) */
label{
	font-size: 1.2em;
}

/* All the inputs of form*/
input{
	font-weight: 1.4em;
}

/* Form main div for styling*/
.row{
	margin:30px;
    background:rgba(255,255,255);
    align-content:  center;
	padding: 10px;
	overflow: auto;
    background-color: #ffffff;
    border: 1px solid black;
    box-shadow: 5px 5px 5px 5px #6E9C1E;
    border-left: 10px solid #1C31B9;
}

/*Icon styling */
.glyphicon{
	position: relative;
	border:1px solid black;
	padding: 5px;
	background:rgba(178,176,172,.8);

}

/*Main section div (parent of .row)*/
.container-fluid{
	
    margin-left:0px;
    padding:0px;
    margin-right: 0px; 
	
}

/* Text in the form*/
.form-text{
	font-weight: bold;

}

/* Label of every .row div*/
.row label {
	position: relative;
  	
 	font-weight: bold;
 	color: #000000;
  	opacity: none;
 }
 
/*Blue highlight around inputs when in focus */
.form-control:focus{
	box-shadow: 0px 0px 5px 5px #7EE4F9;
}

/*Submit button styling */
#submit-button{
	width:100px;
	float: right;
  	font-size: 1.3em;
  	font-weight: bold ;  	
  	height: 40px;
  	border-radius: 60px;
}


/*media queries for responsiveness */
/*1st */
@media (max-width:360px) and (min-width: 0px){
.row {
    border-left: 10px solid #1C31B9;
    padding:3px;
    margin-right: 14px;
    margin-left: 14px;
}
form{
	margin-right: 0px;
	margin-left: 0px;
}
}
/*2nd */
@media (max-width:970px) and (min-width: 361px){
 img{

	position: relative;
	width: 11%;
}

}
/*3rd */
@media (max-width:1450px) and (min-width: 971px){
 img{

	position: relative;
	width: 6%;
}
}

/*4th*/
@media (max-width:1920px) and (min-width: 1451px){
 img{
	position: relative;
	width: 5%;
}

}